:root {
    --primary-100:#0085ff;
    --primary-200:#69b4ff;
    --primary-300:#e0ffff;
    --accent-100:#006fff;
    --accent-200:#e1ffff;
    --text-100:#FFFFFF;
    --text-200:#9e9e9e;
    --bg-100:#1E1E1E;
    --bg-200:#2d2d2d;
    --bg-300:#454545;
}

body {
    background-color: var(--bg-100);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--bg-200);
    color: var(--primary-100);
    margin-bottom: 14px;
    padding: 60px 0px 60px 0px;
}

.body-container {
    display: flex;
    gap: 50px;

}

.menu {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    
}

.etch-container {
    border: 8px solid black;
    width: 500px;
    height: 500px;
    border-radius: 8px;

    display: flex;
    flex-wrap: wrap;

    background-color: var(--primary-300);
}

.grid-item {
    border: thin solid var(--bg-300);
    box-sizing: border-box;
}
