:root {
    --primary-100:#0085ff;
    --primary-200:#69b4ff;
    --primary-300:#e0ffff;
    --accent-100:#006fff;
    --accent-200:#e1ffff;
    --text-100:#FFFFFF;
    --text-200:#9e9e9e;
    --bg-100:#1E1E1E;
    --bg-200:#2d2d2d;
    --bg-300:#454545;
}

body {
    background-color: var(--bg-100);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--bg-200);
    color: var(--primary-100);
    margin-bottom: 14px;
    padding: 60px 0px 60px 0px;
}

.body-container {
    display: flex;
    gap: 50px;

}

.menu {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    background-color: var(--bg-200);
    color: var(--text-100);
    border-radius: 8px;
    padding: 14px;
    width: 150px;
}

.colorChoice {
    width: 80px;
    height: 40px;
    margin-bottom: 15px;
}

.menu button {
    background-color: var(--bg-300);
    border: none;
    color: var(--text-100);
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    margin: 8px 0px 8px 0px;
    width: 150px;
    height: 50px;
    
}

.menu button:hover {
    background-color: var(--accent-100);
    transition: 0.3s ease;
    box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 0.6),
        inset -2px -2px 3px rgb(0 0 0 / 0.6);

}

.menu button.active {
    background-color: var(--accent-100);
    box-shadow:
        inset -2px -2px 3px rgb(255 255 255 / 0.6),
        inset 2px 2px 3px rgb(0 0 0 / 0.6);
        
}

.etch-container {
    border: 8px solid black;
    width: 700px;
    height: 700px;
    border-radius: 8px;

    display: flex;
    flex-wrap: wrap;

    background-color: var(--primary-300);
}

.grid-item {
    border: thin solid var(--bg-300);
    box-sizing: border-box;
}

.no-borders .grid-item {
    border: none;
}

.slidecontainer {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-100);
}

.slider {
    -webkit-appearance: none; /* REQUIRED for Chrome/Edge/Safari */
    width: 100%;
    height: 6px;
    background: #ccc; /* Track color */
    border-radius: 5px;
    outline: none;
}

/* Chrome/Edge/Safari */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--accent-100);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

/* Firefox */
.slider::-moz-range-thumb {
    background: var(--accent-100);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}